<h1>Welcome to Job Tracker</h1>
<p>In this site you'll find job opportunities to work as a software developer nationwide.</p>

<%= link_to "All Companies", companies_path %><br />

<%= link_to "Jobs Dashboard", dashboard_path %>
