All Jobs for <strong><%= @company.name %></strong>

<ul>
<% @jobs.each do |job| %>
  <li><%= link_to job.title, company_job_path(job.company_id, job.id) %> at <%= job.company.name %></li>
<% end %>
</ul>
