<h3>All Companies</h3>

<ul>
  <% @companies.each do |company| %>
    <div class=company_<%= company.id %>>
      <li><%= link_to company.name, company_path(company) %>
      <%= link_to '<button type="button">Edit</button>'.html_safe, edit_company_path(company) %>
      <%= link_to '<button type="button">Delete</button>'.html_safe, company_path(company), method: "delete" %>
    </div>
<% end %>
</ul>
